td {
    background-color: #ccffcc;
    color : blue;
    font-size: xx-large;
    text-align: center;
    height: 100px;
    width: 100px;
    border: 3px solid blue;
}

table {
    border-collapse: collapse;
}